specs vocab:

Image:
"super-screen" = > 880x660
"full-screen" = 880x660
"full-screen-overlay" = 880x660, but can have transparency around the edges/elsewhere that will show through to the image underneath
"spacially-arbitrary" = can have any x,y position, and any width and height, with transparency
"conceptual" = no specific correponding image

Animation:
"static" = single image
"n-cycle" = loop of n keyframes; n can be any number 1 or greater, unless specified ("2-cycle", etc...)
"tween" = can smoothly move/scale

Logic:
"locked-display" = not shown when locked, visible when unlocked

Category:
"interactible" = can be interacted with from within the room

Upgrade:
"upgrade-expected" = not yet implemented, but should design as though it is
"upgrade-proposed" = acknowledged possibility- if possible, design as though it _isn't_ implemented, with an eye towards upgrading designed content to the case where it _is_
"upgrade-possible" = can happen, but should really only acknowledge it if we can justify its existence with sufficiently rich content

--------------------

The game will consist of levels (conceptual)

The game has a main character (conceptual)

The character has 3 animations-
  Walk (n-cycle, tween)
  Idle (n-cycle)
  Act (n-cycle)
The character will walk to any location clicked. If an interactible is clicked, the character will walk to the interactible, perform the act animation once, and then the interaction will execute (pop up a different screen, etc...)

Each level has its own map (static, full-screen-overlay)

Each level will have a default starting scene (conceptual) [example: "the capitol"]

The map has scene icons atop it (static, locked-display, spacially-arbitrary)

Each scene will have a set of rooms, with one default starting room (static, full-screen) [example: "exhibit room"]
upgrade-proposed: (n-cycle)

A room can contain objects, characters, and portholes atop it (static, interactible, locked-display, spacially-arbitrary)
upgrade-proposed: (n-cycle)
upgrade-proposed: an additional foreground image (static, full-screen-overlay)
upgrade-possible: an additional mid-ground image (static, full-screen-overlay)
upgrade-proposed: (super-screen) note- with camera that follows character around room

A room has a rectangular area within which the character will walk. If an object exists outside of this area and is clicked, the character will walk _as close as possible to the object within the specified rectangle_ before acting.
upgrade-possible: non-rectangular walkable area
upgrade-possible: navigation can go in front or behind room's mid-ground image

When interacting with a character, a character has a set of lines, with one default starting line (static, full-screen-overlay) [example: "hey there neice"] note- each line has a single image displaying the demeanor of the character speaking it; many lines will likely share the same image.
upgrade-proposed: (n-cycle)
upgrade-proposed: effects (that is, each line can have a corresponding "effect"- from "vibrate", to "bounce", to "shock", etc... talk to phil for details)

Each line has a set of options, clicking on one loads up another line (conceptual) [example: "Hi! What do you know about this?"]

When interacting with an object, an object has a set of views, with one default starting view (static, full-screen-overlay) [example: "the front of the tunic"]
upgrade-proposed: (n-cycle)

Each view has a set of zones, clicking on one loads up another view (static, locked-display, spacially-arbitrary) [example: "a 'turn around' arrow on the front of the tunic", or "a slip sticking out of a pocket"] note- the "zone" image _can_ be completely transparent if you want
upgrade-proposed: (n-cycle)

When interacting with a porthole, a new room loads up [example: "door to the lobby"]
upgrade-proposed: transistions

Each level has a notebook (static, full-screen-overlay)

A notebook has entries, displayed atop it (static, locked-display, spacially-arbitrary) [example: "the slip in the pocket of the tunic"]

upgrade-expected: cutscene
A game has cutscenes that play as soon as they unlock (conceptual)

A cutscene consists of sized animations that play/move according to timing cues w/ input pauses (n-cycle, tween, spacially-arbitrary)


